<h1><%= @event.title %></h1>
<h2><%= @event.date %></h2>

<div class="actions">
    <%= link_to  "Edit", edit_event_path(@event) %>
    <%= link_to  "Delete this Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?"} %>
</div>